#root {
  width: 100vw;
}

.navbar-and-hero {
  background: transparent;
  background-image: url(src/images/raul-iqbal-bg-image-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
}
